<p id="notice"><%= notice %></p>

<p>
  <strong>Account:</strong>
  <%= @domain.account %>
</p>

<p>
  <strong>Name:</strong>
  <%= @domain.name %>
</p>

<p>
  <strong>Domain url:</strong>
  <%= @domain.domain_url %>
</p>

<%= link_to 'Edit', edit_domain_path(@domain) %> |
<%= link_to 'Back', domains_path %>
